@model Harvin.Models.Reserva

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Você tem certeza de que quer remover esta reserva?</h3>
<div>
    <h4>Reserva</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Horario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Horario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantidadeClientes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantidadeClientes)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Remover" class="btn btn-default" /> |
            @Html.ActionLink("Cancelar", "Index")
        </div>
    }
</div>
