@model Harvin.Models.Reserva

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reserva</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.horario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.horario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantidadeClientes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantidadeClientes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.reservaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
