@model IEnumerable<Harvin.Models.Reserva>

@{
    ViewBag.Title = "Reservas";
}

<p>
    @Html.ActionLink("Criar Nova Reserva", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.horario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantidadeClientes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.horario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantidadeClientes)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.reservaId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.reservaId }) |
            @Html.ActionLink("Remover", "Delete", new { id=item.reservaId })
        </td>
    </tr>
}

</table>
