@model Harvin.Models.Cargo

@{
    ViewBag.Title = "Detalhes do Cargo";
}

<div>
    <h4>@Html.DisplayFor(model => model.nome)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descricao)
        </dd>

    </dl>
</div>

<hr />
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.cargoId }, new { @class="btn green"}) |
    @Html.ActionLink("Retornar para Lista", "Index", "", new { @class = "btn orange" })
</p>
