@model IEnumerable<Harvin.Models.Cargo>

@{
    ViewBag.Title = "Cargos";
}

<p>Cargos de Funcionários cadastrados no sistema. Clique em "Detalhes" para ter acesso as suas informações individuais.</p>

<hr />


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descricao)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.cargoId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.cargoId }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.cargoId })
        </td>
    </tr>
}

</table>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
        <i class="material-icons">more_vert</i>
    </a>
    <ul>
        <li><a class="btn-floating green tooltipped" data-position="left" data-delay="0" data-tooltip="Novo Cargo" href="@Url.Action("Create")"><i class="material-icons">add</i></a></li>
        <li><a class="btn-floating blue tooltipped" data-position="left" data-delay="0" data-tooltip="Funcionarios Cadastrados" href="@Url.Action("Index", "Funcionarios")"><i class="material-icons">assignment_ind</i></a></li>
    </ul>
</div>