@model Harvin.Models.Produto

@{
    ViewBag.Title = "Cadastrar Produto";
}

<div class="cadastro">
    <p style="margin: 30px;">Preencha o formulário com as informações do novo produto</p>
    <hr />

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <div class="row">
            <!--NOME-->
            <div class="input-field col s12 m6">
                @Html.EditorFor(model => model.nome, new { @class = "validate" })
                <label for="icon_prefix">Nome</label>
            </div>

            <!--VALOR UNITÁRIO-->
            <div class="input-field col s12 m6">
                @Html.EditorFor(model => model.valorUnitario, new { @class = "validate" })
                <label for="icon_prefix">Valor</label>
            </div>

            <!--QUANTIDADE MÍNIMA-->
            <div class="input-field col s12 m6">
                @Html.EditorFor(model => model.quantidadeMinimaEstoque, new { @class = "validate" })
                <label for="icon_prefix">Quantidade Mínima</label>
            </div>

            <!--QUANTIDADE MÁXIMA-->
            <div class="input-field col s12 m6">
                @Html.EditorFor(model => model.quantidadeMaximaEstoque, new { @class = "validate" })
                <label for="icon_prefix">Quantidade Máxima</label>
            </div>

            <!--QUANTIDADE ATUAL-->
            <div class="input-field col s12 m6">
                @Html.EditorFor(model => model.quantidadeAtualEstoque, new { @class = "validate" })
                <label for="icon_prefix">Quantidade Atual</label>
            </div>

            <!--DESCRIÇÃO-->
            <div class="input-field col s12 m6">
                @Html.EditorFor(model => model.descricao, new { @class = "validate" })
                <label for="icon_prefix">Descrição</label>
            </div>

            <!--ESTOCÁVEL-->
            <div class="input-field col s12 m6">
                @Html.EditorFor(model => model.estocavel, new { id = "estoque" })
                <label for="estoque">Estocável?</label>
            </div>

            <!--CATEGORIA-->
            <div class="input-field col s12 m6">
                @Html.DropDownList("categoriaId", null, htmlAttributes: new { @class = "form-control" })
                <label for="icon_prefix">Categoria</label>
            </div>

            <!--COMENTÁRIOS-->
            <div class="input-field col s12 m6">
                @Html.EditorFor(model => model.comentarios, new { @class = "validate" })
                <label for="icon_prefix">Comentários</label>
            </div>

            <!--LINK IMAGEM-->
            <div class="input-field col s12 m6">
                @Html.EditorFor(model => model.imagem, new { @class = "validate" })
                <label for="icon_prefix">URL Imagem</label>
            </div>

            <!--LINK IMAGEM-->
            <div class="input-field col s12">
                <input type="submit" value="Cadastrar" class="btn btn-default" />
            </div>
        </div>
    }
</div>

<div>
    @Html.ActionLink("Cancelar", "Index")
</div>
