@model Harvin.Models.Produto

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.categoria.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoria.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valorUnitario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valorUnitario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantidadeMinimaEstoque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantidadeMinimaEstoque)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantidadeMaximaEstoque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantidadeMaximaEstoque)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantidadeAtualEstoque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantidadeAtualEstoque)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estocavel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estocavel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comentarios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comentarios)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Retornar para Lista", "Index")
</p>
