@model Harvin.Models.Produto

@{
    ViewBag.Title = "Inativar Produto";
}

<h6 style="color: red;">Você tem certeza de que deseja inativar este produto?</h6>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.categoria.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoria.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valorUnitario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valorUnitario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantidadeMinimaEstoque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantidadeMinimaEstoque)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantidadeMaximaEstoque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantidadeMaximaEstoque)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantidadeAtualEstoque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantidadeAtualEstoque)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estocavel)
        </dt>

        <dd>
            @if (Model.estocavel) {
                <p>Sim</p>
            }else {
                <p>Não</p>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comentarios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comentarios)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Inativar" class="btn red darken-4" /> |
            <a href="@Url.Action("Index")" class="red btn">Cancelar</a>
        </div>
    }
</div>
