@model IEnumerable<Harvin.Models.Produto>

@{
    ViewBag.Title = "Index";
}

<h2>Produtos</h2>

<p>
    @Html.ActionLink("Cadastrar novo Produto", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.categoria.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.valorUnitario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantidadeMinimaEstoque)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantidadeMaximaEstoque)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantidadeAtualEstoque)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estocavel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comentarios)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.categoria.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.valorUnitario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantidadeMinimaEstoque)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantidadeMaximaEstoque)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantidadeAtualEstoque)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estocavel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comentarios)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.id }) |
            @Html.ActionLink("Remover", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
