@model IEnumerable<Harvin.Models.Produto>

@{
    ViewBag.Title = "Lista de Produtos";
}

<p style="margin: 30px;">Produtos cadastrados no sistema em situação de Ativos</p>
<hr />
<a href="@Url.Action("Todos")" class="btn center" style="margin-bottom: 30px;">Incluir Inativos</a>
<table class="table striped centered responsive-table">
    <tr style="background-color: lightgrey;">
        <th>
            @Html.DisplayNameFor(model => model.Categoria.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorUnitario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantidadeMinimaEstoque)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantidadeMaximaEstoque)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantidadeAtualEstoque)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estocavel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Imagem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comentario)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        if (!item.Inativo) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorUnitario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuantidadeMinimaEstoque)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuantidadeMaximaEstoque)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuantidadeAtualEstoque)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @if (item.Estocavel) {
                        <p>Sim</p>
                    } else {
                        <p>Nao</p>
                    }
                </td>
                <td>
                    <img src="@item.Imagem" style="wIdth: 45px!important; height: 45px!important;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comentario)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { Id = item.Id }) |
                    @Html.ActionLink("Deletar", "Delete", new { Id = item.Id })
                    @Html.ActionLink("Inativar", "Inativar", new { Id = item.Id })
                </td>
            </tr>
        }
    }
</table>

<div class="fixed-action-btn toolbar">
    <a class="btn-floating btn-large red">
        <i class="material-icons">menu</i>
    </a>
    <ul>
        <li class="waves-effect waves-light green"><a href="@Url.Action("Create")">Novo Produto</a></li>
        <li class="waves-effect waves-light"><a href="@Url.Action("Index")">Produtos/Categoria</a></li>
    </ul>
</div>