@model Harvin.Models.Funcionario

@{
    ViewBag.Title = "Cadastrar Funcionário";
}

<div class="cadastro">

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <div class="row">

            <!--INFORMAÇÕES BÁSICAS-->
            <div class="col s12 form_block" style="margin-top: 50px;">
                <p>Informações Básicas</p>
                <hr />
            </div>

            <!--NOME-->
            <div class="input-field col s12 m6">
                @Html.EditorFor(model => model.nome, new { @class = "validate" })
                <label for="icon_prefix">Nome</label>
            </div>

            <!--SOBRENOME-->
            <div class="input-field col s12 m6">
                @Html.EditorFor(model => model.sobrenome, new { @class = "validate" })
                <label for="icon_prefix">Sobrenome</label>
            </div>

            <!--CPF-->
            <div class="input-field col s12 m6">
                @Html.EditorFor(model => model.cpf, new { @class = "validate" })
                <label for="icon_prefix">CPF</label>
            </div>

            <!--TELEFONE-->
            <div class="input-field col s12 m6">
                @Html.EditorFor(model => model.telefone, new { @class = "validate" })
                <label for="icon_prefix">Telefone</label>
            </div>

            <!--Data de Nascimento-->
            <div class="input-field col s12 m6">
                @Html.EditorFor(model => model.dataDeNascimento, new { @class = "validate" })
                <label for="icon_prefix">Data de Nascimento</label>
            </div>


            <!--INFORMAÇÕES DE ENDREÇO-->
            <div class="col s12 form_block" style="margin-top: 50px;">
                <p>Informações de Endereço</p>
                <hr />
            </div>

            <!--CEP-->
            <div class="input-field col s12 m6">
                @Html.EditorFor(model => model.cep, new { @class = "validate" })
                <label for="icon_prefix">CEP</label>
            </div>

            <!--Endereço-->
            <div class="input-field col s12 m6">
                @Html.EditorFor(model => model.endereco, new { @class = "validate" })
                <label for="icon_prefix">Endereço</label>
            </div>

            <!--Complemento-->
            <div class="input-field col s12 m6">
                @Html.EditorFor(model => model.complemento, new { @class = "validate" })
                <label for="icon_prefix">Complemento</label>
            </div>

            <!--BAIRRO-->
            <div class="input-field col s12 m6">
                @Html.EditorFor(model => model.bairro, new { @class = "validate" })
                <label for="icon_prefix">Bairro</label>
            </div>

            <!--Cidade-->
            <div class="input-field col s12 m6">
                @Html.EditorFor(model => model.cidade, new { @class = "validate" })
                <label for="icon_prefix">Cidade</label>
            </div>



            <!--INFORMAÇÕES DE ACESSO-->
            <div class="col s12 form_block" style="margin-top: 50px;">
                <p>Informações de Acesso</p>
                <hr />
            </div>

            <!--E-Mail-->
            <div class="input-field col s12 m6">
                @Html.EditorFor(model => model.email, new { @class = "validate" })
                <label for="icon_prefix">E-Mail</label>
            </div>

            <!--Senha-->
            <div class="input-field col s12 m6">
                @Html.EditorFor(model => model.senha, new { @class = "validate" })
                <label for="icon_prefix">Senha</label>
            </div>





            <!--INFORMAÇÕES VISUAIS-->
            <div class="col s12 form_block" style="margin-top: 50px;">
                <p>Informações Visuais</p>
                <hr />
            </div>

            <!--LINK IMAGEM-->
            <div class="input-field col s12">
                @Html.EditorFor(model => model.imagem, new { @class = "validate" })
                <label for="icon_prefix">URL Imagem</label>
            </div>

            <!--INFORMAÇÕES SOBRE CARGO-->
            <div class="col s12 form_block" style="margin-top: 50px;">
                <p>Cargo do Funcionário</p>
                <hr />
            </div>

            <!--CARGO-->
            <div class="input-field col s12 m6">
                <div style="margin: 20px; text-align: left!important;">
                    <a href="@Url.Action("Create", "Cargo")" class="btn-floating tooltipped" data-position="right" data-delay="50" data-tooltip="Nova categoria" target="_blank"><i class="material-icons">add</i></a>
                </div>
                @Html.DropDownList("cargoId", null, htmlAttributes: new { @class = "form-control" })
                <label for="icon_prefix">Cargo</label>
            </div>






            <!--INFORMAÇÕES DE ACESSO-->
            <div class="col s12 form_block" style="margin-top: 50px;">
                <p>Informações de Acesso</p>
                <hr /> <br />
                <i class="material-icons">info</i> Selecione quais módulos este funcionário terá acesso
            </div>

            <!--ACESSOS-->
            <div class="acessos" style="text-align: left;">
                <div class="input-field col s3 m2">
                    @Html.EditorFor(model => model.home, new { @class = "validate" })
                    <label for="icon_prefix">Home</label>
                </div>
                <div class="input-field col s3 m2">
                    @Html.EditorFor(model => model.verificarConsumo, new { @class = "validate" })
                    <label for="icon_prefix">Verificar Consumo</label>
                </div>
                <div class="input-field col s3 m2">
                    @Html.EditorFor(model => model.realizarPedido, new { @class = "validate" })
                    <label for="icon_prefix">RealizarPedido</label>
                </div>
                <div class="input-field col s3 m2">
                    @Html.EditorFor(model => model.pedidosPendentes, new { @class = "validate" })
                    <label for="icon_prefix">Pedidos Pendentes</label>
                </div>
                <div class="input-field col s3 m2">
                    @Html.EditorFor(model => model.clientes, new { @class = "validate" })
                    <label for="icon_prefix">Clientes</label>
                </div>
                <div class="input-field col s3 m2">
                    @Html.EditorFor(model => model.reservarMesa, new { @class = "validate" })
                    <label for="icon_prefix">Reserva de Mesa</label>
                </div>
                <div class="input-field col s3 m2">
                    @Html.EditorFor(model => model.configuracoes, new { @class = "validate" })
                    <label for="icon_prefix">Configurações</label>
                </div>
                <div class="input-field col s3 m2">
                    @Html.EditorFor(model => model.relatorios, new { @class = "validate" })
                    <label for="icon_prefix">Relatórios</label>
                </div>
            </div>





            <!--FINALIZAR CADASTRO-->
            <div class="col s12 form_block" style="margin-top: 50px;">
                <p>Finalizar Cadastro</p>
                <hr />
            </div>

            <!--CADASTRAR-->
            <div class="input-field col s12" style="text-align: left;">
                <input type="submit" value="Cadastrar" class="btn green" />
                <a href="@Url.Action("Index")" class="btn red">Cancelar</a>
            </div>


        </div>
    }
</div>

<!-- Modal Trigger -->
<div class="fixed-action-btn">
    <a class="btn-floating btn-large red modal-trigger pulse" href="#modal1">
        <i class="large material-icons">help</i>
    </a>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal" style="text-transform: none!important;">
    <div class="modal-content">
        <h5>Ajuda - Cadastro de Funcionário</h5>
        <p>Abaixo uma explicação de cada campo</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>
