@model IEnumerable<Harvin.Models.Funcionario>

@{
    ViewBag.Title = "Funcionários";
    List<Harvin.Models.Cargo> ListaCargos = new List<Harvin.Models.Cargo>();
    ListaCargos = Harvin.DAO.CargoDAO.RetornaCargos();
}

<p>Aqui você consegue consultar toda relação de funcionários do estabelecimento, tal como suas informações pessoais e dados referentes aos seus respectivos acessos a este sistema.</p>

<hr />

<div class="row">
    @foreach (var item in Model) {
        if (!item.inativo) {
            <div class="col s6 m3">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="@item.imagem">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">@item.nome @item.sobrenome</span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><i class="material-icons">close</i></span>
                        <b>Nome Completo</b>
                        <br />
                        @item.nome @item.sobrenome
                        <br />
                        <br />
                        <b>Cargo</b>
                        <br />
                        @item.cargo.nome
                        <br />
                        <br />
                        <b>CPF</b>
                        <br />
                        @item.cpf
                        <br />
                        <br />
                        <b>Telefone</b>
                        <br />
                        @item.telefone
                        <br />
                        <br />
                        <b>Data de Nascimento</b>
                        <br />
                        @item.dataDeNascimento
                        <br />
                        <br />
                        <b>Endereço</b>
                        <br />
                        @item.endereco
                        <br />
                        <br />
                        <b>CEP</b>
                        <br />
                        @item.cep
                        <br />
                        <br />
                        <b>Bairro</b>
                        <br />
                        @item.bairro
                        <br />
                        <br />
                        <b>Cidade</b>
                        <br />
                        @item.cidade
                        <br />
                        <br />
                        <b>E-mail</b>
                        <br />
                        @item.email
                        <br /><br />
                        <a href="@Url.Action("Edit", new { id=item.id})" class="btn-floating btn-large waves-effect waves-light green"><i class="material-icons">mode_edit</i></a>
                        <a href="@Url.Action("Inativar", new { id=item.id})" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
                    </div>
                </div>
            </div>
        }
    }
</div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
        <i class="material-icons">more_vert</i>
    </a>
    <ul>
        <li><a class="btn-floating green tooltipped" data-position="left" data-delay="0" data-tooltip="Novo Funcionário" href="@Url.Action("Create")"><i class="material-icons">add</i></a></li>
        <li><a class="btn-floating orange tooltipped" data-position="left" data-delay="0" data-tooltip="Todos" href="@Url.Action("Todos")"><i class="material-icons">do_not_disturb_off</i></a></li>
        <li><a class="btn-floating red tooltipped" data-position="left" data-delay="0" data-tooltip="Ativos" href="@Url.Action("Index")"><i class="material-icons">do_not_disturb_on</i></a></li>
        <li><a class="btn-floating blue tooltipped" data-position="left" data-delay="0" data-tooltip="Novo Cargo" href="@Url.Action("Create", "Cargo")"><i class="material-icons">assignment_ind</i></a></li>
    </ul>
</div>