@model IEnumerable<Harvin.Models.Funcionario>

@{
    ViewBag.Title = "Index";
}

<h2>Todos os Funcionários Cadastrados</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cargo.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.home)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.verificarConsumo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.realizarPedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pedidosPendentes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.clientes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.reservarMesa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.configuracoes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.relatorios)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sobrenome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cpf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataDeNascimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cep)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endereco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.complemento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bairro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.senha)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cargo.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.home)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.verificarConsumo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.realizarPedido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pedidosPendentes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.clientes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.reservarMesa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.configuracoes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.relatorios)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sobrenome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cpf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataDeNascimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cep)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endereco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.complemento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bairro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.senha)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
            <!-- Modal Trigger -->
        </td>
    </tr>
}
</table>



