@model Harvin.Models.Cliente

@{
    ViewBag.Title = "Inativar";
}

<h2>Inativar</h2>

<h3>Você tem certeza de que quer Inativar este cliente?</h3>
<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sobrenome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sobrenome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cpf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cpf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataDeNascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataDeNascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.senha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.senha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.endereco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.endereco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.complemento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.complemento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bairro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bairro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cidade)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" /> |
            @Html.ActionLink("Cancelar", "Index")
        </div>
    }
</div>
