@model Harvin.Models.Cliente
@{
    ViewBag.Title = "Login";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="~/Content/style_login_funcionario.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="wIdth=device-wIdth, initial-scale=1.0" />
    <title>Cliente - Harvin</title>
    <link rel="shortcut icon" href="~/Content/images/favicon.ico" />
</head>
<body>
    <div class="block center" style="wIdth: 90%; margin: auto; height: 400px; border-radius: 85px;" class="z-depth-5">
        <div class="row" style="border-radius: 15px!important;">
            <div class="col s12 l6 direita">
                @using (Html.BeginForm()) {
                    @Html.AntiForgeryToken()
                    <div class="container">
                        <div class="row">
                            <h4>Harvin - Cliente</h4>
                            <div class="row">
                                <div class="input-field col s12">
                                    @Html.EditorFor(model => model.Cpf, new { @class = "valIdate" })
                                    <label for="icon_prefix" style="color: white;">Cpf</label>
                                </div>
                                <div class="input-field col s12">
                                    @Html.EditorFor(model => model.Senha, new { @class = "valIdate" })
                                    <label for="icon_prefix" style="color: white;">Senha</label>
                                </div>
                            </div>
                            <p class="red-text lighten-4 center">@ViewBag.Mensagem</p>
                            <button class="btn waves-effect waves-light" type="submit" style="border-radius: 20px; background-color: #4242b5;">
                                Entrar
                                <i class="material-icons right">send</i>
                            </button>
                            <br><br>
                            <a href="#" class="white-text z-depth-5">Esqueceu seu login?</a>
                            <br />
                            <a href="@Url.Action("CriarConta","Clientes")">Cadastrar-se</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>
</html>