@model Harvin.Models.Pedido

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.horarioPedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.horarioPedido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.horarioEntrega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.horarioEntrega)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pendencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pendencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pagamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pagamento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.pedidoId }) |
    @Html.ActionLink("Retornar para Lista", "Index")
</p>
