@model Harvin.Models.Pedido

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HorarioPedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HorarioPedido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HorarioEntrega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HorarioEntrega)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pendencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pendencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pagamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pagamento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { Id = Model.Id }) |
    @Html.ActionLink("Retornar para Lista", "Index")
</p>
