@model List<Harvin.Models.Produto>

@{
    ViewBag.Title = "Realizar Pedido - Módulo Funcionário";

    //LISTA DE CATEGORIAS PARA SEPARAÇÃO DOS PRODUTOS
    List<Harvin.Models.Categoria> ListaCategorias = new List<Harvin.Models.Categoria>();
    ListaCategorias = Harvin.DAO.CategoriaDAO.ListaCategorias();
    int modalName = 0;

    Harvin.Models.Produto adicionarProduto = new Harvin.Models.Produto();

}

<h5 style="text-align: center; margin: 25px 0;">Realizar Pedido - Módulo Funcionario</h5>
<div class="row">


    @foreach (var item in ListaCategorias) {
        modalName = modalName + 1;
        <div class="col s6 m4">
            <a class="modal-trigger" href="#modal_@modalName">
                <!--CABEÇALHO DE CADA COLLAPSABLE-->
                <div class="card">
                    <div class="card-image">
                        <img class="activator" src="http://www.corpoealma.com/wp-content/uploads/2017/08/pizzabar.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">@item.nome</span>
                    </div>
                </div>
            </a>
            <!-- Modal Structure -->
            <div id="modal_@modalName" class="modal">
                <div class="modal-content">
                    <h5>Selecione os produtos que deseja</h5>
                    <p>Precione o botão '+' para adicionar o produto. Pressione repetidas vezes para adicionar mais de uma unidade.</p>
                    <div class="row">
                        @foreach (var produto in Model) {
                            if (produto.categoriaId == item.CategoriaId) {
                                <div class="col s6 m4">
                                    <!--PRODUTO MOSTRADO COMO UM CART DENTRO DA COLLAPSABLE DA CATEGORIA-->
                                    <div class="card z-depth-3">
                                        <div class="card-image waves-effect waves-block waves-light">
                                            <img class="activator" src="@produto.imagem">
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title activator grey-text text-darken-4">@Html.DisplayFor(modelItem => produto.nome)</span>
                                        </div>
                                        <div class="card-reveal">
                                            <span class="card-title grey-text text-darken-4"><i class="material-icons">close</i></span>
                                            <b>Produto</b>
                                            <br />
                                            @Html.DisplayFor(modelItem => produto.nome)
                                            <br />
                                            <br />
                                            <b>Valor</b>
                                            <br />
                                            @Html.DisplayFor(modelItem => produto.valorUnitario)
                                            <br />
                                            <br />
                                            <b>Descrição</b>
                                            <br />
                                            @Html.DisplayFor(modelItem => produto.descricao)
                                            <br />
                                            <br />
                                            @using (Html.BeginForm()) {
                                                @Html.AntiForgeryToken()
                                                    <div class="row">
                                                        <div class="row">
                                                            <div class="input-field col s12">
                                                                <input type="number" name="quantidadeProduto" class="validate"/>
                                                                <label for="icon_prefix" style="color: white;">E-mail</label>
                                                            </div>
                                                        </div>

                                                        <a href="@Url.Action("Adicionar", "Pedidos", new { id= @produto.id})"></a>
                                                    </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Fechar</a>
                </div>
            </div>
        </div>

    }
</div>


        <!--TABELA ESQUERDA COM PROGRESSO DA SELEÇÃO DOS PRODUTOS-->
<h5 style="margin: 50px;">Seus produtos</h5>
            <table class="bordered striped centered responsive-table">
                <thead>
                    <th>Produto</th>
                    <th>Valor</th>
                    <th>Quantidade</th>
                    <th>Total</th>
                    <th>Funcionário</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Coxinha</td>
                        <td>R$5,00</td>
                        <td>2</td>
                        <td>R$10,00</td>
                        <td>Patrick Cardoso</td>
                    </tr>
                </tbody>
            </table>

          <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn modal-trigger right blue" href="#pagamento" style="margin: 30px;">Finalizar</a>

        <!-- Modal Structure -->
        <div id="pagamento" class="modal">
            <div class="modal-content">
                <h5>Finalizar Pedido</h5>
                
                <form style="text-align: center;">
                    <label for="numero_mesa">Número da Mesa</label>
                    <input type="number" name="numero_mesa" value=""/>
                    <div class="modal-footer">
                        <button type="submit" class="btn green white-text">Enviar Pedido</button>
                    </div>
                </form>

            </div>

        </div>



        

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>