
<!--PÁGINA DESTINADA A PEDIdO DO CLIENTE-->
<!--DEVERÁ CONTER INTEGRAÇÃO COM API DO PAYPAL E NTREGAS DELIVERY-->


@model List<Harvin.Models.Produto>

@{
    ViewBag.Title = "Novo PedIdo";
    //LISTA DE CATEGORIAS PARA SEPARAÇÃO DOS ProdutoS
    List<Harvin.Models.Categoria> ListaCategorias = new List<Harvin.Models.Categoria>();
    ListaCategorias = Harvin.DAO.CategoriaDAO.ListaCategorias();
    List<Harvin.Models.Item> ListaItens = new List<Harvin.Models.Item>();
    ListaItens = Harvin.DAO.PedidosDAO.RetornaLista();
    int modalName = 0;
    double totalProduto = 0;
    double total = 0;
    Harvin.Models.Produto adicionarProduto = new Harvin.Models.Produto();
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}

<div class="container">
    <p class="bodytop_message">Selecione a categoria desejada</p>
    <p class="red">@ViewBag.Mensagem</p>
    <div class="row">
        @foreach (var item in ListaCategorias) {
            modalName = modalName + 1;
            <div class="col s6 m3">
                <a class="modal-trigger" href="#modal_@modalName">
                    <!--CABEÇALHO DE CADA CATEGORIA-->
                    <div class="card">
                        <div class="card-image">
                            <img class="activator categoria" src="@item.Imagem">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">@item.Nome</span>
                        </div>
                    </div>
                </a>
                <!-- Modal Structure -->
                <div Id="modal_@modalName" class="modal">
                    <div class="modal-content">
                        <h5>Selecione os Produtos desejados</h5>
                        <div class="row">
                            @foreach (var Produto in Model) {
                                if (Produto.Categoria.Id == item.Id) {
                                    <div class="col s6 m4 l3">
                                        <!--Produto MOSTRADO COMO UM CART DENTRO DA COLLAPSABLE DA CATEGORIA-->
                                        <div class="card z-depth-3">
                                            <div class="card-image waves-effect waves-block waves-light">
                                                <img class="activator" src="@Produto.Imagem">
                                            </div>
                                            <div class="card-content">
                                                <span class="card-title activator grey-text text-darken-4">@Html.DisplayFor(modelItem => Produto.Nome)</span>
                                            </div>
                                            <div class="card-reveal">
                                                <span class="card-title grey-text text-darken-4"><i class="material-icons">close</i></span>
                                                <b>Produto</b>
                                                <br />
                                                @Html.DisplayFor(modelItem => Produto.Nome)
                                                <br />
                                                <br />
                                                <b>Valor</b>
                                                <br />
                                                @Produto.ValorUnitario.ToString("C2")
                                                <br />
                                                <br />
                                                <b>Descrição</b>
                                                <br />
                                                @Html.DisplayFor(modelItem => Produto.Descricao)
                                                <br />
                                                <br />
                                                @using (Html.BeginForm()) {
                                                    @Html.AntiForgeryToken()
                                                    <div class="row">
                                                        <div class="input-field col s12" style="display: none;">
                                                            @Html.EditorFor(modelItem => Produto.Id, new { @class = "invisible" })
                                                        </div>
                                                        <div class="col s12">
                                                            <select name="Quantidade" required="required" class="Quantidade">
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                            </select>
                                                            <label>Quantidade</label>
                                                        </div>
                                                        <button class="btn-floating red adicionar"><i class="material-icons">add</i></button>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Fechar</a>
                    </div>
                </div>
            </div>

        }
    </div>


    <!--TABELA ABAIXO COM PROGRESSO DA SELEÇÃO DOS ProdutoS-->
    @if (ListaItens.Count > 0) {
        <h5 style="margin: 50px;">Seus Produtos</h5>
        <table class="bordered striped centered responsive-table">
            <thead>
            <th>Produto</th>
            <th>Valor</th>
            <th>Quantidade</th>
            <th>Total</th>
            <th>Total</th>
            </thead>
            <tbody>
                @foreach (var itens in Harvin.DAO.PedidosDAO.RetornaLista()) {
                    totalProduto = itens.Quantidade * itens.Produto.ValorUnitario;
                    total = total + totalProduto;
                    <tr>
                        <td>@itens.Produto.Nome</td>
                        <td>@itens.Produto.ValorUnitario.ToString("C2")</td>
                        <td>@itens.Quantidade</td>
                        <td>@totalProduto.ToString("C2")</td>
                        <td><a href="@Url.Action("RemoverItem", "PedIdos", new { Id=itens.Id})"><i class="material-icons red-text">delete</i></a></td>
                    </tr>
                }
            </tbody>
        </table>
    } else {
        <h5 style="margin: 50px;">Sua Lista de Produtos está vazia</h5>
    }


    <!-- Modal Trigger -->
    <h5 class="green-text center" style="margin: 50px;">Total: @total.ToString("C2")</h5>
    <a class="waves-effect waves-light btn modal-trigger blue right" href="#Pagamento" style="margin: 30px;">Finalizar</a>

    <!-- Modal Structure -->
    <div Id="Pagamento" class="modal">
        <div class="modal-content">
            <h5>Finalizar PedIdo</h5>
            <form style="text-align: center;">
                <button class="btn blue">PAGAR COM PAYPAL</button>
                <button class="btn green">ENTREGAR EM CASA</button>
                <div class="modal-footer">
                    <a href="@Url.Action("Finalizar")" class="btn green">CONCLUIR</a>
                </div>
            </form>
        </div>
    </div>





    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.valIdate.min.js"></script>
    <script src="~/Scripts/jquery.valIdate.unobtrusive.min.js"></script>


</div>
