@model Harvin.Models.Categoria

@{
    ViewBag.Title = "Remover Categoria";
}

<h5>Remover Categoria</h5>

<h5>Você tem certeza que deseja remover esta categoria?</h5>
<div style="text-align: center;">
    <hr />
        <b>@Html.DisplayNameFor(model => model.nome)</b>
        <p>@Html.DisplayFor(model => model.nome)</p>

        <br />

        <b>@Html.DisplayNameFor(model => model.descricao)</b>
        <p>@Html.DisplayFor(model => model.descricao)</p>


    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <button class="btn waves-effect waves-light red darken-4" type="submit" name="action">
            Excluir
            <i class="material-icons right">delete</i>
        </button>
        <a href="@Url.Action("Index")" class="btn waves-effect waves-light red">
            Cancelar
            <i class="material-icons right">cancel</i>
        </a>
        }
</div>
