@model IEnumerable<Harvin.Models.Categoria>
@{
    ViewBag.Title = "Categorias";
    List<Harvin.Models.Categoria> ListaCategorias = new List<Harvin.Models.Categoria>();
    ListaCategorias = Harvin.DAO.CategoriaDAO.ListaCategorias();
    List<Harvin.Models.Produto> ListaProdutos = new List<Harvin.Models.Produto>();
    ListaProdutos = Harvin.DAO.ProdutoDAO.RetornaProdutos();
}

<p>Categorias cadastrados. Clique no cartão para ter acesso a suas respectivas informações</p>
<div class="row">
    @foreach (var item in Model)
    {
        int totalProdutos = 0;
        if (!item.Inativo)
        {
            <div class="col s6 m4 l3">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="@item.Imagem">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator white-text text-darken-4">@Html.DisplayFor(modelItem => item.Nome)</span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title white-text text-darken-4"><i class="material-icons">close</i></span>
                        <b>Categoria</b>
                        <br />
                        @Html.DisplayFor(modelItem => item.Nome)
                        <br />
                        <br />
                        <b>Descrição</b>
                        <br />
                        @Html.DisplayFor(modelItem => item.Descricao)
                        <br />


                        @foreach (var produto in ListaProdutos)
                        {
                            if (produto.Categoria.Id.Equals(item.Id))
                            {
                                totalProdutos++;
                            }
                        }
                        <br />
                        @if (totalProdutos > 0) {
                            <span>@totalProdutos produto(s)</span>
                        }
                        <br /><br />
                        <a href="@Url.Action("Edit", new { id=item.Id})" class="btn-floating btn-large waves-effect waves-light green"><i class="material-icons">mode_edit</i></a>
                        <a href="@Url.Action("Inativar", new { id=item.Id})" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
                    </div>
                </div>
            </div>
        }
    }
</div>
<div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
        <i class="material-icons">more_vert</i>
    </a>
    <ul>
        <li><a class="btn-floating green tooltipped" data-position="left" data-delay="0" data-tooltip="Nova Categoria" href="@Url.Action("Create")"><i class="material-icons">add</i></a></li>
        <li><a class="btn-floating blue tooltipped" data-position="left" data-delay="0" data-tooltip="Produtos Cadastrados" href="@Url.Action("Index", "Produtos")"><i class="material-icons">local_pizza</i></a></li>
        <li><a class="btn-floating orange tooltipped" data-position="left" data-delay="0" data-tooltip="Adicinonar Inativos a Lista" href="@Url.Action("Todos", "Categorias")"><i class="material-icons red-text">do_not_disturb_on</i></a></li>
    </ul>
</div>