@model IEnumerable<Harvin.Models.Categoria>

@{
    ViewBag.Title = "Categorias";
}

<p>Estas são categorias de produtos cadastradas no sistema. Clique em cada uma para ter acesso a suas informações individuais</p>
<p>Os itens em vermelho correspondem as categorias inativadas.</p>
<br />

<div class="row">
    @foreach (var item in Model) {
        if (item.Inativo) {
            <div class="col s6 m4 l3">
                <div class="card red white-text">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="@item.Imagem">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator white-text">@Html.DisplayFor(modelItem => item.Nome)</span>
                    </div>
                    <div class="card-reveal red white-text">
                        <span class="card-title text-darken-4"><i class="material-icons">close</i></span>
                        <b>Categoria</b>
                        <br />
                        @Html.DisplayFor(modelItem => item.Nome)
                        <br />
                        <br />
                        <b>Descrição</b>
                        <br />
                        @Html.DisplayFor(modelItem => item.Descricao)
                        <br /><br />
                        <a href="@Url.Action("Edit", "Categorias", new { id=item.Id})" class="btn-floating btn-large waves-effect waves-light green"><i class="material-icons">mode_edit</i></a>
                        <a href="@Url.Action("Ativar", "Categorias", new { id=item.Id})" class="btn-floating btn-large waves-effect waves-light green"><i class="material-icons">restore</i></a>
                    </div>
                </div>
            </div>
        } else {
            <div class="col s6 m4 l3">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="@item.Imagem">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator white-text text-darken-4">@Html.DisplayFor(modelItem => item.Nome)</span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title white-text text-darken-4"><i class="material-icons">close</i></span>
                        <b>Categoria</b>
                        <br />
                        @Html.DisplayFor(modelItem => item.Nome)
                        <br />
                        <br />
                        <b>Descrição</b>
                        <br />
                        @Html.DisplayFor(modelItem => item.Descricao)
                        <br /><br />
                        <a href="@Url.Action("Edit", new { id=item.Id})" class="btn-floating btn-large waves-effect waves-light green"><i class="material-icons">mode_edit</i></a>
                        <a href="@Url.Action("Inativar", new { id=item.Id})" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
                    </div>
                </div>
            </div>
        }
    }
</div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
        <i class="material-icons">more_vert</i>
    </a>
    <ul>
        <li><a class="btn-floating green tooltipped" data-position="left" data-delay="0" data-tooltip="Nova Categoria" href="@Url.Action("Create")"><i class="material-icons">add</i></a></li>
        <li><a class="btn-floating blue tooltipped" data-position="left" data-delay="0" data-tooltip="Produtos Cadastrados" href="@Url.Action("Index", "Produtos")"><i class="material-icons">local_pizza</i></a></li>
        <li><a class="btn-floating yellow tooltipped" data-position="left" data-delay="0" data-tooltip="Remover Inativos a Lista" href="@Url.Action("Index", "Categorias")"><i class="material-icons red-text">do_not_disturb_off</i></a></li>
    </ul>
</div>