<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Harvin</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Content/materialize.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
</head>
<body>
        <!--DROPDOWNS DO MENU PARA COMPUTADORES-->
        <!--FUNCIONÁRIOS-->
        <ul id="funcionarios" class="dropdown-content" style="width: 150px!important;">
            <li><a href="@Url.Action("Create", "Funcionarios")"><i class="material-icons">add</i>Novo</a></li>
            <li><a href="@Url.Action("Index", "Funcionarios")"><i class="material-icons">account_circle</i>Detalhes</a></li>
            <li><a href="@Url.Action("Todos", "Funcionarios")"><i class="material-icons">list</i>Lista</a></li>
        </ul>

        <!--PRODUTOS-->
        <ul id="produtos" class="dropdown-content" style="width: 150px!important;">
            <li><a href="@Url.Action("Create", "Produtos")"><i class="material-icons">add</i>Novo</a></li>
            <li><a href="@Url.Action("Index", "Produtos")"><i class="material-icons">local_pizza</i>Detalhes</a></li>
            <li><a href="@Url.Action("Lista", "Produtos")"><i class="material-icons">list</i>Lista</a></li>
            <li><a href="@Url.Action("Todos", "Produtos")"><i class="material-icons">format_align_justify</i>Todos</a></li>
            <li><a href="@Url.Action("Index", "Categorias")"><i class="material-icons">dns</i>Categoria</a></li>
        </ul>

        <!--PEDIDOS-->
        <ul id="pedidos" class="dropdown-content" style="width: 150px!important;">
            <li><a href="@Url.Action("Create", "Pedidos")"><i class="material-icons">add</i>Novo</a></li>
            <li><a href="@Url.Action("Index", "Pedidos")"><i class="material-icons">restaurant_menu</i>Abertos</a></li>
            <li><a href="@Url.Action("Todos", "Pedidos")"><i class="material-icons">list</i>Lista</a></li>
        </ul>

        <!--USUARIOS-->
        <ul id="usuario" class="dropdown-content" style="width: 150px!important;">
            <li><a href="@Url.Action("Create", "Pedidos")"><i class="material-icons">settings</i>Editar</a></li>
            <li><a href="@Url.Action("Index", "Pedidos")"><i class="material-icons">info</i>Infos</a></li>
            <li style="background-color: darkred;"><a href="@Url.Action("Todos", "Pedidos")"><i class="material-icons">highlight_off</i>Sair</a></li>
        </ul>

        <!--FUNCIONÁRIOS MENU SIDEBAR-->
        <ul id="slide-out" class="side-nav">
            <li>
                <div class="user-view">
                    <div class="background">
                        <img src="https://images.freecreatives.com/wp-content/uploads/2016/02/Dark-Wood-Background.jpg" />
                    </div>
                    <img class="circle" src="~/Content/images/funcionario.jpg">
                    <span class="white-text name">Patrick Cardoso</span>
                    <span class="white-text email">pbloemer59@gmail.com</span>
                </div>
            </li>
            <li><a href="#!"><i class="material-icons">settings</i>Configurações</a></li>
            <li><div class="divider"></div></li>
            <li><a class="subheader">Opções</a></li>
            <li class="red darken-4"><a class="waves-effect white-text" href="#!"><i class="material-icons white-text">forward</i>Sair</a></li>
        </ul>

        <!--BARRA DE NAVEGAÇÃO-->
        <nav>
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo">Harvin</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a class="dropdown-button opcaomenu" href="#!" data-activates="pedidos">Pedidos<i class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a class="dropdown-button opcaomenu" href="#!" data-activates="produtos">Produtos<i class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a class="dropdown-button opcaomenu" href="#!" data-activates="funcionarios">Funcionários<i class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a class="button-collapse button-collapse-funcionario" href="#!" data-activates="slide-out"><i class="material-icons left">account_circle</i>Patrick</a></li>

                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <!--SIDENAV DO FUNCIONÁRIO-->
                    <li>
                        <div class="user-view">
                            <div class="background">
                                <img src="https://images.freecreatives.com/wp-content/uploads/2016/02/Dark-Wood-Background.jpg" />
                            </div>
                            <img class="circle" src="~/Content/images/funcionario.jpg">
                            <span class="white-text name">Patrick Cardoso</span>
                            <span class="white-text email">pbloemer59@gmail.com</span>
                        </div>
                    </li>
                    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
                    <li><a href="#!">Second Link</a></li>
                    <li><div class="divider"></div></li>
                    <!--DIVISOR OPÇÕES DO MENU-->
                    <li><a class="subheader">Opções</a></li>
                    <!--PEDIDOS-->
                    <li class="no-padding">
                        <ul class="collapsible collapsible-accordion">
                            <li>
                                <a class="collapsible-header">Pedidos<i class="material-icons">arrow_drop_down</i></a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><a href="#!">First</a></li>
                                        <li><a href="#!">Second</a></li>
                                        <li><a href="#!">Third</a></li>
                                        <li><a href="#!">Fourth</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!--PRODUTOS-->
                    <li class="no-padding">
                        <ul class="collapsible collapsible-accordion">
                            <li>
                                <a class="collapsible-header">Produtos<i class="material-icons">arrow_drop_down</i></a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><a href="#!">First</a></li>
                                        <li><a href="#!">Second</a></li>
                                        <li><a href="#!">Third</a></li>
                                        <li><a href="#!">Fourth</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!--FUNCIONÁRIOS-->
                    <li class="no-padding">
                        <ul class="collapsible collapsible-accordion">
                            <li>
                                <a class="collapsible-header">Funcionários<i class="material-icons">arrow_drop_down</i></a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><a href="#!">First</a></li>
                                        <li><a href="#!">Second</a></li>
                                        <li><a href="#!">Third</a></li>
                                        <li><a href="#!">Fourth</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!--SAIR-->
                    <li class="red darken-4"><a class="waves-effect white-text" href="#!"><i class="material-icons white-text">forward</i>Sair</a></li>
                </ul>
            </div>
        </nav>

    <!--BODY-->
    <div class="cabecalho">
        <h5>@ViewBag.Title</h5>
        <hr>
    </div>
    <div class="container body_content">
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/scripts/materialize.js"></script>
    <script>
        $(document).ready(function () {
            $('.collapsible').collapsible();
            $(".button-collapse").sideNav();
            $('.toggle-overlay').click(function () {
                $('aside').toggleClass('open');
            });
            $('.modal').modal();
            $('select').material_select();
        });
    </script>
</body>
</html>