@model Harvin.Models.Acesso

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Você tem certeza de que quer deletar este acesso?</h3>
<div>
    <h4>Acesso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.home)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.home)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.verificarConsumo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.verificarConsumo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.realizarPedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.realizarPedido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pedidosPendentes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pedidosPendentes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clientes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clientes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reservarMesa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reservarMesa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.configuracoes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.configuracoes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.relatorios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.relatorios)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" /> |
            @Html.ActionLink("Cancelar", "Index")
        </div>
    }
</div>
