@model Harvin.Models.FormaPagamento

@{
    ViewBag.Title = "Inativar Forma de Pagamento";
}

<div>
    <h4>@Html.DisplayFor(model => model.Nome)</h4>
    <h6 class="red-text"><i class="material-icons">delete</i> <br />Você realmente deseja inativar este cargo?</h6>
    <p>Esta ação pode ser desfeita mais tarde. </p>
    <p>Formas de Pagamento inativas não aparecerma na hora de selecionar a forma de pagamento.</p>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

    </dl>
</div>

<hr />
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Inativar" class="btn red darken-4" /> |
        <a href="@Url.Action("Index")" class="red btn">Cancelar</a>
    </div>
}

<div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
        <i class="material-icons">more_vert</i>
    </a>
    <ul>
        <li><a class="btn-floating green tooltipped" data-position="left" data-delay="0" data-tooltip="Nova Forma de Pagamento" href="@Url.Action("Create")"><i class="material-icons">add</i></a></li>
        <li><a class="btn-floating blue tooltipped" data-position="left" data-delay="0" data-tooltip="Formas de Pagamento Cadastradas" href="@Url.Action("Index")"><i class="material-icons">assignment_ind</i></a></li>
    </ul>
</div>