@model IEnumerable<Harvin.Models.FormaPagamento>

@{
    ViewBag.Title = "Index";
}

<h2>Formas de Pagamento</h2>

<p>
    @Html.ActionLink("Adicionar nova Forma de Pagamento", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descricao)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.formaPagamentoId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.formaPagamentoId }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.formaPagamentoId })
        </td>
    </tr>
}

</table>
